<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <title><%= title%></title>
</head>
<body>
    <div class="nav">
        <img src="/images/icon .png" width="40px" height="40px" alt="">
        <h3>The NOTE</h3>
    </div>
    <a class="a" href="/">HOMEPAGE</a>
    <div class="main">
        <h3><%=title%></h3>
        <p>
            <%= data %>
        </p>
    </div>
</body>
</html>